<h1 class="title has-text-centered">PROVISORI Media le Game</h1>

<div class="card">
  <div class="card-content">
    <div class="content">

      <h2 class="subtitle is-4 has-text-centered"> <i class="fas fa-hat-wizard mr-3"></i>Enigme de la semaine </h2>

      <p class="has-text-centered">Je suis petit mais grand à la fois, qui suis-je ? </p>

      <%= form_for([@game]) do |form| %>
        <fieldset>
          <%= form.text_area(:body, class: 'textarea', rows: 3) %>
        </fieldset>
        <fieldset class="">
          <%= form.submit 'Commenter', class: 'button is-primary' %>
        </fieldset>

    </div>
  </div>
</div>
