<%= form_for(article) do |form| %>
  <% if article.errors.any? %>
    <%= render partial: 'model_errors', locals: { model: article } %>
  <% end %>

  <div class="half-page">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content"><br>
            <label id="article[title]" ></label>
            <input class="title is-4" name="article[title]" placeholder="Titre..."></input>
            <p class="subtitle is-6">Thomas Pfefferlé</p>
          </div>
        </div>

        <div class="media-content"><br>
          <label id="article[body]" ></label>
          <textarea name="article[body]"> Texte ... </textarea>
        </div>

      </div>

    </div>

  </div>

<% end %>
