<%= form_for(article) do |form| %>
  <% if article.errors.any? %>
    <%= render partial: 'model_errors', locals: { model: article } %>
  <% end %>

  <div class="box">

    <h1 class="title"> <i class="fas fa-tools fa-2x"></i> Créer un nouvel article </h1>

    <div class="media-content"><br>
      <label class="label" id="article[title]">Veuillez entrer le titre de l'article</label>
      <input class="title is-4 input" name="article[title]" placeholder="Titre..."></input>
    </div>

    <div class="media-content"><br>
      <label class="label" id="article[page]">Veuillez entrer la page de l'article</label>

      <div class="select">
        <select name="article[view]">
          <option>Artistes</option>
          <option>Like a boss</option>
          <option>Fort/e tu seras</option>
        </select>
      </div>
    </div>

    <div class="is-flex is-justify-content-space-between	">

      <div class="control mt-3">
        <%= form.submit "Créer l'article", class: 'button is-primary' %>
      </div>

      <div class="mt-3 ml-5">
        <%= link_to 'Annuler', root_path, class: 'button is-info' %>
      </div>

    </div>

  </div>

<% end %>
