<div class="p-5 is-primary">

  <% if current_user_role == 'admin' %>

    <h1 class="title has-text-centered">Articles publiés</h1>

    <%= link_to 'Nouvel article', new_article_path(), class: 'button is-primary mb-3', role: 'button' %>

  <% end %>

  <div class="grid-systems">

    <% if @articles.present? %>

      <% @articles.each do |article| %>
          <div>
            <%= render partial: 'articles', locals: { article: article } %>
          </div>
        <% end %>

      <% else %>

        <h1 class="title"><%= I18n.translate('no_articles') %> </h1>

      <% end %>

  </div>

  <div class="see-more m-5">
    <%= paginate @articles %>
  </div>

</div>
