<h1 class="title"><i class="fas fa-trophy mr-3"></i>PROVISORI Media le Game</h1>

<div class="card has-background-success-light	">
  <div class="card-content">
    <div class="content p-5">

      <h2 class="subtitle is-4 has-text-centered"> <i class="fas fa-hat-wizard mr-3"></i>Enigme de la semaine </h2>

      <p class="has-text-centered">Je suis petit mais grand à la fois, qui suis-je ? </p>
      <div class="p5 has-text-centered">
      <%= form_for(@game,  html: { class: 'width-response has-text-centered' }) do |form| %>
        <fieldset>
          <%= form.text_area(:response, class: 'textarea', rows: 3) %>
        </fieldset>
        <fieldset class="">
          <%= form.submit 'Répondre', class: 'button is-primary' %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
