/* ------------------------------
 * General
 ------------------------------ */
/* SCSS vraiables */
/* Gestions of different screen sizes */
/************************ General Format *********************************/
.time {
  font-size: 0.9rem;
  color: #A8A8A8; }

.title {
  font-size: 1.6rem; }

.half-page {
  width: 350px; }

.is-black {
  color: #000; }

.mt-2_negative {
  margin-top: -15px; }

.mt-3_negative {
  margin-top: -20px; }

.width-response {
  width: 75%;
  margin: auto; }

.menu {
  display: block; }

.main-content {
  position: relative;
  min-height: 70vh; }

.rounded {
  border-radius: 50px; }

@media only screen and (max-width: 768px) {
  .menu {
    position: absolute;
    right: 10px; } }
@media only screen and (min-width: 768px) {
  .half-page {
    width: 500px; }

  .menu {
    position: absolute;
    right: 10px; } }
@media only screen and (min-width: 1024px) {
  .menu {
    display: none; }

  .width-response {
    width: 50%;
    margin: auto; } }
.box-article {
  border: 1px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1.6rem; }

.label-elements {
  visibility: hidden; }

textarea {
  border: none;
  outline: none;
  height: 200px;
  width: 100%; }

input {
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  margin: 0 0 1.6rem;
  width: 100%;
  font-size: 1.6rem; }

/***************************** Footer ******************************/
.footer {
  clear: both;
  position: relative;
  height: 100%;
  background: #000;
  padding: 1.2rem; }
  .footer .footer__menu {
    margin: 0 1.2rem 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /* or inline-flex */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer .footer__menu a {
      color: #fff; }
    .footer .footer__menu a:hover {
      color: #000;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  .footer .footer__socialmedia {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer .footer__socialmedia a {
      margin: 1.2rem;
      color: #fff; }
  .footer .footer__locale {
    text-align: center; }
    .footer .footer__locale a {
      color: #fff; }
  .footer .footer__copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #B8B8B8; }

/************************ Sidebar ****************************************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #A8A8A8;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s; }
    .sidenav a :hover {
      color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  .sidenav .sidenav__menu {
    margin: 0.2rem 0 0; }
    .sidenav .sidenav__menu a {
      color: #fff;
      font-size: 1rem; }
    .sidenav .sidenav__menu :hover {
      color: #000; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
/************************ Pagination *************************************/
.pagination a,
.pagination span.current,
.pagination span.gap {
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 45px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }

.pagination {
  display: block;
  margin: 1.6rem; }
  .pagination .first {
    padding: 0;
    float: none;
    border: none; }
  .pagination .prev {
    padding: 0;
    float: none;
    border: none; }
  .pagination .page {
    padding: 0;
    float: none;
    border: none; }
  .pagination .next {
    padding: 0;
    float: none;
    border: none; }
  .pagination .last {
    padding: 0;
    float: none;
    border: none; }

/*********************** Forms elements **********************************/
.text_area {
  height: 300px; }

/****************** Grid system with the flexbox ***********************/
.grid-systems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%; }

.grid-system {
  margin: 0.5rem;
  width: 350px; }

.grid-system-admin {
  margin: 0.5rem;
  width: 300px; }

.grid-system-card {
  min-height: 500px; }

.grid-system-card-admin {
  height: 100%; }

@media only screen and (max-width: 768px) {
  .grid-system {
    margin: 0.5rem;
    width: 75vw; } }
@media only screen and (min-width: 768px) {
  .grid-system {
    margin: 0.7rem; } }
@media only screen and (min-width: 1024px) {
  .grid-system {
    margin: 1.2rem; } }

/*# sourceMappingURL=application.css.map */
