<div class="footer__container">

  <div class="footer__menu">

    <a href="/article?q=1" class="navbar-item">
      Like a boss
    </a>

    <a href="/article?q=2" class="navbar-item">
      Artistes
    </a>

    <a href="/article?q=3" class="navbar-item">
      Stories de ouf
    </a>

    <a href="/article?q=4" class="navbar-item">
      Tinder fails
    </a>

    <a href="/article?q=5" class="navbar-item">
      Zen tu seras
    </a>

    <a href="/article?q=6" class="navbar-item">
      Spoiler pour flemmards
    </a>

    <a href="/game" class="navbar-item">
      Le Game
    </a>

  </div>

  <div class="footer__socialmedia">

    <!-- Facebook, Twitter and Instagram pages, needed to be created -->

    <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>

    <a href=""><i class="fab fa-instagram fa-2x"></i></a>

    <a href=""><i class="fab fa-twitter fa-2x"></i></a>

  </div>

  <div class="footer__copyright">

    	&copy; 2021 PROVISORIMEDIA

  </div>

<div>
