<% if model.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% if model.errors.count <= 1 %>
      <p><%= pluralize(model.errors.count, "erreur") %>:</p>
    <% else %>
      <p><%= pluralize(model.errors.count, "erreurs") %>:</p>
    <% end %>
    <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><span class="has-text-danger">*</span><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
