/************************ General Format *********************************/

.time {
  font-size: 0.9rem;
  color: $gray;
}

.title {
  font-size: 1.6rem;
}

.half-page {
  width: 350px;
}

.is-black {
  color: $black;
}

.mt-2_negative {
  margin-top: -15px;
}

.mt-3_negative {
  margin-top: -20px;
}

.width-response {
  width: 75%;
  margin: auto;
}

.menu {
  display: block;
}

.main-content {
  position: relative;
  min-height: 60vh;
}
@include tablet {
  .half-page {
    width: 500px;
  }
}
@include desktop {
  .menu {
    display: none;
  }

  .width-response {
    width: 50%;
    margin: auto;
  }
}
